[submodule "submodules/Vulkan-LoaderAndValidationLayers"]
	path = submodules/Vulkan-LoaderAndValidationLayers
	url = https://github.com/lenny-lunarg/Vulkan-LoaderAndValidationLayers.git
[submodule "submodules/jsoncpp"]
	path = submodules/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
